@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 導入文字字型來源(google font) */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0027D5;
}

a:hover {
  color: #6f89ff;
  background: #EDEDED;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.wrap {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .wrap {
    padding: 0 12px;
  }
}
.header {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  margin: 24px 0px;
}
.header a {
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.header a:hover {
  color: #0027D5;
}

.blog-new {
  display: flex;
  border-bottom: 1px solid #6C757D;
  border-top: 1px solid #6C757D;
  margin-bottom: 80px;
}
.blog-new img {
  display: block;
  max-width: 50%;
}

.content {
  max-width: 50%;
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.content-pattern {
  background: #EDEDED;
  font-weight: 700;
  padding: 24px;
  border-radius: 25px;
}

.text-content time {
  display: block;
  padding-bottom: 4px;
}
.text-content .tags {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.text-content .hashtag {
  font-size: 24px;
  color: #0027D5;
}
.text-content .primary-rounded {
  color: #FFFFFF;
  font-weight: 700;
  background: #0027D5;
  border-radius: 25px;
  padding: 6px 12px;
  margin-left: 8px;
}
.text-content h1 {
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .blog-new {
    display: block;
  }
  .blog-new img {
    max-width: 100%;
    padding-bottom: 48px;
  }
  .content {
    max-width: 100%;
  }
}
.text-content {
  padding-bottom: 48px;
}

.blog-detail {
  max-width: 636px;
  margin: 0 auto;
}
.blog-detail .content-part {
  padding-bottom: 48px;
}
.blog-detail .list {
  padding-bottom: 24px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0027D5;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
}

.p-main {
  padding-bottom: 8px;
}

ol {
  display: inline-block;
  list-style-type: decimal;
  padding-left: 1em;
}

.ul-style {
  list-style-type: disc;
  padding-left: 1.2em;
}

.underline {
  text-decoration: underline;
}

.page {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.page-btn {
  color: #4B4B4B;
  padding: 8px 16px;
  border: #4B4B4B solid 1px;
  border-radius: 25px;
}
.page-btn:hover {
  color: #0027D5;
  padding: 8px 16px;
  border: #0027D5 solid 1px;
  border-radius: 25px;
}

.footer {
  background: #FBFBFB;
  border-top: #6C757D solid 1px;
}

.contact-me {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
}

.social-media {
  display: flex;
}

.e-mail {
  font-size: 32px;
}

.copy-right {
  display: inline-box;
  text-align: center;
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 767px) {
  .contact-me {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */